.teamPic {
	height: 500px;
	margin-left: 25px;
	margin-right: 15px;
	margin-bottom: 15px;
	float: left;
}

.teamPic::after {
	content: "";
	clear: both;
}
.underline {
	border-bottom: 4px solid #fbc005;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 5px;
}

.about868 {
	background-color: white;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 50px;
	margin-bottom: 50px;
	border-style: 2px solid #FBC005;
}

html, body {
	background: #0A46A8;
}
#leaders {
	display: flex;
	flex-flow: row wrap;
    padding-bottom: 15px;
}

.leaderpic {
	width: 25%;
}

.leadertext {
	font-size: 15px;
	color: black;
}

.woodie {
	
	border-left: 2px solid #fbc005;
}

.sheri {
	border-left: 2px solid #fbc005;
}

.robert {
	border-left: 2px solid #fbc005;
}

.footer1 {
	text-align: center;
	background-color: #FFF;
	padding: 14px 15px 10px;
	height:80px;
	margin-top: 50px;
}

.footer1 a {
	text-decoration: none;
	display: inline;
	float: right;
}
.footer1::after {
	content: "";
	clear: both;
}

.multiParagraph {
	color: black;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 15px;
	letter-spacing: 0px;
	line-height: 22px;
}

.Mission {
	color: black;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	margin-left: 25px;
	margin-right: 25px;
	letter-spacing: 0px;
	line-height: 22px;
}


.whoWeAre {
	padding-top: 2px;
}

.FIRST-explanation 	 {
	margin-left: 100px;
	margin-right: 100px;
	background-color: white;
	margin-bottom: 50px;

}

 
.mission {
	margin-top: 50px;
	padding-top: 84px; 
}

.awards {
	margin-left: 100px;
	margin-right: 100px;
	background-color: white;
	margin-bottom: 50px;
}
.fix {
	margin-left: 25px;
	padding-bottom: 25px;
}

.missionDiv {
	padding-top: 86px; 
	padding-bottom: 76px;
}

.italicized {
	color: black;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 15px;
	letter-spacing: 0px;
	line-height: 22px;
	font-style: italic;
}

.border {
	border: 5px solid #fbc005;
}