.teamPic {
	height: 500px;
	margin-left: 25px;
	margin-right: 15px;
	margin-bottom: 15px;
	float: left;
}

p {
	line-height: 2em;
}

.underline {
	border-bottom: 4px solid #fbc005;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 5px;
}

.about868 {
	background-color: white;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 50px;
	margin-bottom: 50px;
	border-style: 2px solid #FBC005;
	padding-bottom: 30px;
}

body, html {
	background-image:
		linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url("about_bg.jpg");

	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
#leaders {
	display: flex;
	flex-flow: row wrap;
    padding-bottom: 15px;
}

.leaderpic {
	width: 25%;
}

.leadertext {
	font-size: 15px;
	color: black;
}

.woodie {
	
	border-left: 2px solid #fbc005;
}

.sheri {
	border-left: 2px solid #fbc005;
}

.robert {
	border-left: 2px solid #fbc005;
}

.footer1 {
	text-align: center;
	background-color: #FFF;
	padding: 14px 15px 10px;
	height:80px;
	margin-top: 50px;
}

.footer1 a {
	text-decoration: none;
	display: inline;
	float: right;
}
.footer1::after {
	content: "";
	clear: both;
}

.multiParagraph {
	color: black;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 15px;
	letter-spacing: 0px;
}

.Mission {
	color: black;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	margin-left: 25px;
	margin-right: 25px;
	letter-spacing: 0px;
}


.whoWeAre {
	padding-top: 2px;
}

.FIRST-explanation 	 {
	margin-left: 100px;
	margin-right: 100px;
	background-color: white;
	margin-bottom: 50px;
	margin-top: 50px;
	padding-top: 1px;
}

 
.mission {
	margin-top: 50px;
	padding-top: 10px; 
}

.fix {
	margin-left: 25px;
	padding-bottom: 25px;
}

.missionDiv {
	padding-top: 22px;
	padding-bottom: 15px;
}

.italicized {
	color: black;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 15px;
	letter-spacing: 0px;
	font-style: italic;
}

.border {
	border: 5px solid #fbc005;
}

#awards-header {
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 50px;
}

#awards-header > * {
	color: white;
}

#awards-header > h1 {
	border-bottom: 2px solid #fbc005;
}

#awards h1 {
	color: #020202;
}

#awards {
	background-color: white;
	color: #444;
	
	display: flex;
	flex-flow: row wrap;
	
	justify-content: center;
	align-items: baseline;
}

.award-year {
	width: calc(50% - 2*20px);
	margin: 20px;
	text-align: center;
}

.backgroundClearWhoWeAre {
	color: white;
	font-family: "Abel", sans-serif;
	letter-spacing: 4.5px;
	font-size: 20px;
	text-align: center;
	margin-top: 50px;
	text-align: center;
	letter-spacing: 4.5px;
	border-bottom-style: solid;
	border-bottom-color: #fbc005;
    margin-left: 400px;
    margin-right: 400px;
	margin-bottom: 15px
}

.backgroundClearFIRST {
	color: white;
	font-family: "Abel", sans-serif;
	letter-spacing: 4.5px;
	font-size: 20px;
	text-align: center;
	margin-top: 50px;
	text-align: center;
	letter-spacing: 4.5px;
	border-bottom-style: solid;
	border-bottom-color: #fbc005;
    margin-left: 450px;
    margin-right: 450px;
	margin-bottom: 15px
}

.topMarginForMission {
	padding-top: 25px
}

.awardsDescription {
	color: black;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 15px;
	letter-spacing: 0px;
	padding-bottom: 15px;
}