button {
	height: 100px;
	width: 200px;
	padding: 0px;
	border: 0px;
	cursor: pointer;
	outline:0;
	background: none;
}
.b{
	height: 100px;
	width: 200px;
	position: relative;
}
.d {
	margin: 0px 50px;
}