/*
*, *:before, *:after {
box-sizing: border-box;
}

#homeLogo {
height: 150px;
padding-left: 15px;
align-self: center;

}
.head {
display: flex;
flex-flow: row nowrap;
align-items: flex-end;
justify-content: center;
line-height: 1em;

}
.header {
background-color: #0A46A8;
margin-left: 100px;
margin-right: 100px;
margin-top: 35px;
font-size: 17px;

}
.header p, header h1, header h2 {
color: white;
}
#headerDivTwo {
margin-top: 10px;
}

*/
/*#ffcc66 is the light yellow hex #0f64f0 is the blue*/
body, html {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;

	background-image:
		linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url("header_bg.jpg");

	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

	line-height: 2em;
}
.header ul {
	overflow: hidden;
	list-style-type:none;
	margin-top: 0px;
	margin-bottom: 0px;
	display: flex;
}
.header ul > a {
	display: inline-block;
	padding: 18px;
	margin: 6px;
	text-decoration: none;
	margin-top: 0;
	margin-right: 20px;
	height: 18px;
}
.header ul > a > li {
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 17px;
}
.header ul > a:hover {
	background-color: #fbc005;
}
.header ul > a:hover > li {
	color: black;
	border-bottom-color: black;
}
.underline {
	border-bottom: 4px solid #fbc005;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 5px;
}
#under {
	height: 25px;
}
#headerDivTwo > h2 {
	margin: 0;
	padding-top: 15px;
	padding-bottom: 30px;
	margin-top: 17px;

	font-size: 48px;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 4px;

	text-align: center;
	color: white;
}
.navbar {
	padding-left: 0px;
}
header {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 40px;
	margin-top: -40px;
}
.img {
	height: 200px;
}
.all {

}
#TECHHOUNDS {
	font-size: 48px;
	margin-bottom: 20px;
	margin-top: 20px;

	font-family: 'Raleway', sans-serif;
	letter-spacing: 4px;
	text-align: center;
	color: white;
}
.upper {
	font-size: 1.2em;
}
.header{
	margin-top: 15px;
	margin-left: 10px;
}
#tH {
	border-top: 2px solid #fbc005;
	border-bottom: 2px solid #fbc005;
	padding: 5px 50px 10px 100px;
}
#eight{
	margin-bottom: 0px;
	margin-top: 0px;
	
	text-align: center;
	color: white;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 4px;
}
.flexEnd {
	display: flex;
	justify-content: flex-end;
}
#coin {
}
#headerDivTwo {
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-end;
	line-height: 1em;
}




.slideDiv{
	width:1063px;
	height: 375px;
}
.slideImg{
	margin: 0;
	width:1063px;
	height: 375px;
}
#slideId {
	display:inline-block;
}
.surround{
	height:375px;
	width:1063px;

	margin: 40px 0px 0px 100px;

	background-color: white;
}




.inBetween {
	background-color: #0A46A8;
	margin: 50px 100px 50px 100px;
	padding: 75px;	
	display: flex;
	align-items:center;
	justify-content: center;
	color: white;
}
br {
	height: 10px;
}
#slogan {
	text-align: center;
	font-size: 22px;
	
	padding: 0px 50px;
	
	border-top: 2px solid #fbc005;
	border-bottom: 2px solid #fbc005;
}