/*#ffcc66 is the light yellow hex #f0af8b is a no-bright orange*/
body, html {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	
	background-image:
		linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url("header_bg.jpg");

	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

*, *:before, *:after {
	box-sizing: border-box;
}

#homeLogo {
	height: 170px;
	padding-left: 15px;
	align-self: center;
}

header {
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-end;
	
	background-color: #0f64f0;
	
	font-size: 17px;
	
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 20px;
	
	padding-bottom:10px;
}

header p, header h1, header h2 {
	color: white;
}

header ul {
	overflow: hidden;
	list-style-type:none;
}

header ul > li {
	display: inline-block;
	padding: 18px;
	margin: 6px;
	
	margin-top: 0;
}

header ul > li > a {
	color: white;
	text-align: center;
	text-decoration: none;
}
header ul > li:hover {
	background-color: #fbc005;
}
header ul > li:hover > a {
	color: black;
}

header > img {
	margin-bottom: none;
}

#headerDivTwo > h2 {
	margin: 0;
	padding-top: 15px;
	
	font-size: 64px;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 18px;
	
	text-align: center;
	
	color: white;
}

.upper {
	font-size: 1.2em;
}

.navbar {
	border-bottom: 2px solid white;
	padding-left: 5px;
	margin-left: 35px;
}

.div{
	text-align: center;
	vertical-align: center;
	background-color: #184776;
	border-bottom: 10px solid #bfc1ca;
}

.robotImg {
	width: 394px;
	margin-left: 55px;
	margin-bottom: 10px;
}
.slideDiv{
	padding: 25px;

	height:669px;
	width: 1063px;
	
	border-left: 25px solid gray;
	border-right: 25px solid gray;
	border-bottom: 25px solid #0f64f0;
}
.robotDiv{
	height:321px;
	border-width:3px;
	border-color:green;
	display: inline-block;
	width: 400px;
}	
.slideImg{
	margin: 0;
	height: 594px;
	width: 967px;
}
#slideId {
	display:inline-block;
	
}
.secondaryDiv{
	display: inline-block;
	height: 354px;
	width: 100%;
	margin: 0px;
	background-color: none;
	display: flex;
	
	justify-content: space-between;
	align-items: center;
}
.tertiaryDiv > p {
	color: white;
	font-size: 18px;
	padding: 10px 50px;
}
#p {
	text-align: center;
}
#secondP {
	text-align: center;
}

.active {
	background-color: yellow;
}

.footer {
	text-align: center;
	background-color: #FFF;
	padding: 14px 15px 10px;
	height:80px;
	margin-top: 20px;
}

.footer a {
	text-decoration: none;
	display: inline;
	float: right;
}
.footer::after {
	content: "";
	clear: both;
}

.socialmedia {
	width: 50px;
	height: 50px;
	border-radius: 10px;
	margin: 0 5px;
	display: inline;
	opacity: 1;	
}
.socialmedia:hover{
	opacity: .65;
}

.url {
	display: inline;
}
.url1 {
	float: left;
	display: inline; 
	padding-right: 432px;
}
.infoPic {
	display: inline-block;
	height: 354px;
}
.surround{
	height:644px;
	width:1063px;
	
	margin: 100px;
	margin-top: 0;
	margin-bottom: 0;
	
	background-color: white;
}

.inBetween {
	background-color: #0f64f0;
	margin: 50px 100px;
	padding: 75px;	
	display: flex;
	align-items:center;
}

.videoLinkDiv {
	height: 348px;
	margin-right: 98px;
	margin-left: 98px;

	border-top: 2px solid white;
	border-bottom: 2px solid white;
	
	text-align: center;
	color: white;
}

#linkColor {
	color: white;
	text-decoration: none;
}

.FIRST {
	height: 100px;
	margin-top: 15px;
}

#secondInfoPic {
	display: inline-block;
	padding-left: 4px;
}
#thisDiv {
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 4px;
}
.tertiaryDiv {
	width: 527.5px;
	height: 100%;
	text-align: center;
}
.bodyHeader{
	color: white;
	text-align: center;
	font-family: "Oswald", sans-serif;
	letter-spacing: 5px;
}

#thing1 {
	padding: 30px 0px 5px;
	border-bottom: 2px solid white;
	margin-left: 150px;
	margin-right: 150px;
}

#thing2 {
	padding: 30px 0px 5px 10px;
	border-bottom: 2px solid white;
	margin-left: 150px;
	margin-right: 150px;
}

.secondUpper{
	font-size: 40px;
}