/*#ffcc66 is the light yellow hex #f0af8b is a no-bright orange*/
body, html {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	background-color: white;
}

*, *:before, *:after {
	box-sizing: border-box;
}

#homeLogo {
	height: 225px;
	padding-left: 15px;
	padding-top: 15px
}

header {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	background-color: #0f64f0;
	padding-bottom:15px;
	font-size:17px;
	border-bottom:10px solid #bfc1ca;
}

#headerDivTwo {
	margin-left: 35px;
	margin-top:60px;
}

header ul {
	overflow: hidden;
	list-style-type:none;
}

header ul > li {
	display: inline-block;
	padding: 18px;
	margin: 6px;
}

header ul > li > a {
	color: white;
	text-align: center;
	text-decoration: none;
}
header ul > li:hover {
	background-color: #fbc005;
}
header ul > li:hover > a {
	color: black;
}

header > img {
	margin-bottom: none;
}

.div{
	text-align: center;
	vertical-align: center;
	background-color: #184776;
	border-bottom: 10px solid #bfc1ca;
}

.robotImg {
	width: 394px;
	margin-left: 55px;
	margin-bottom: 10px;
}
.slideDiv{
	margin-top: 15px;
	margin-left: 154px;
	margin-bottom: 15px;
	
	height:600px;
	border-width: 3px;
	border-style: solid;
	border-color:black;
	width: 973px;
	display: inline-block;
	margin-right: 0px;
	border-bottom:10px solid #bfc1ca;
}
.robotDiv{
	height:321px;
	border-width:3px;
	border-color:green;
	display: inline-block;
	width: 400px;
}	
.slideImg{
	margin: 0;
	height: 594px;
	width: 967px;
}
#slideId {
	display:inline-block;
	
}
.secondaryDiv{
	display: inline-block;
	border-color: pink;
	height: 356px;
	width: 500px;
	margin-top: 0px;
	border-top: none;
	border-bottom: none;
}
#p{
	display: inline-block;
	margin-left: 24px;
	text-align: center;
	vertical-align: top;
	color: white;
}
#secondP{
	display: inline-block;
	margin-right: 202px;
	text-align: center;
	vertical-align: top;
	color: white;
}
.active {
	background-color: yellow;
}

.footer {
	text-align: center;
	background-color: #FFF;
	border-top: 6px solid black;
	padding: 14px 15px 10px;
	height:80px;
}

.footer a {
	text-decoration: none;
	display: inline;
	float: right;
	
}
.clearfix {
	overflow:hidden;
	display: inline-block;
	display: inline;
	float: right;
}
.footer::after {
	content: "";
	clear: both;
}

.socialmedia {
	width: 50px;
	height: 50px;
	border-radius: 10px;
	margin: 0 5px;
	display: inline;
	float: right;
}


.url {
	float: right;
	display: inline;
}
.url1 {
	float: left;
	display: inline; 
	padding-right: 432px;
}
.infoPic {
	display: inline-block;
	height: 354px;
	width: -153px;
}
.surround{
	height:630px;
}