body, html {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

*, *:before, *:after {
	box-sizing: border-box;
}

#headerDiv, #headerDivTwo {
	display: inline-block;
}

#homeLogo {
	height: 225px;
	padding-left: 15px;
}

header {
	background-color: #0f64f0;
}

header ul {
	overflow: hidden;
	list-style-type:none;
}

header ul > li {
	display: inline-block;
}

header ul > li > a {
	color: white;
	text-align: center;
	text-decoration: none;
}
header ul > li > a:hover {
	background-color: #fbc005;
}

header > img {
	margin-bottom: none;
}

.div{
	border-width: 3px;
	border-style: solid;
	text-align: center;
	vertical-align: center;
}
.slideDiv{
	margin: 0;
	height:321px;
	border-width: 3px;
	border-style: solid;
	border-color:black;
	width: 479px;
	display: inline-block;
	margin-right: 0px;
}
.robotDiv{
	height:321px;
	border-width:3px;
	border-color:green;
	display: inline-block;
	width: 400px;
}	
.slideImg{
	margin: 0;
	height: 315px;
}
#slideId {
	display:inline-block;
}
.secondaryDiv{
	display: inline-block;
	border-color: pink;
	height: 360px;
	width: 500px;
	margin-top: 0px;
	border-top: none;
	border-bottom: none;
}
#p{
	display: inline-block;
	margin-left: 24px;
	text-align: center;
	vertical-align: top;
}
#secondP{
	display: inline-block;
	margin-right: 202px;
	text-align: center;
	vertical-align: top;
}
.active {
	background-color: yellow;
}
.footer {
	text-align: center;
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid #BDBDBD;
	padding: 14px 15px 10px;
	display: inline-block;
}

.footer a {
	text-decoration: none;
	display: inline;
	float: right;
}
.clearfix {
	overflow:hidden;
	display: inline-block;
	display: inline;
	float: right;
}
.socialmedia {
	width: 50px;
	height: 50px;
	border-radius: 10px;
	margin: 0 5px;
	display: inline;
	float: right;
}
.footer {
	text-align: center;
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid #BDBDBD;
	padding: 14px 15px 10px;
	display: inline-block;
	display: inline;
	float: right;
}

.footer a {
	text-decoration: none;
	display: inline;
	float: right;
}
.url {
	float: right;
	display: inline;
}
.url1 {
	float: left;
	display: inline; 
	padding-right: 432px;
}
.infoPic {
	margin-left: -147px;
	display: inline-block;
	height: 100%;
	height: 354px;
}