.womenInTechnologyWorkshop {
	margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 100px;
    margin-left: 100px;
    background-color: white;
}

.WTW {
	padding-bottom: 30px;
}

.why {
	color: black;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 15px;
	letter-spacing: 0px;
	line-height: 22px;
	font-style: bold;
}

.hereToChangeThat {
	color: black;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 15px;
	letter-spacing: 0px;
	line-height: 22px;
	font-style: bold;
}

.WTWTitle{
	color: black;
	text-align: center;
	font-family: "Abel", sans-serif;
	letter-spacing: 4.5px;
	font-size: 40px;
    padding-top: 29px;
    padding-bottom: 10px;
    margin-left: 200px;
    margin-right: 200px;
	border-bottom-style: solid;
	border-bottom-color: black;
}
