.mainh2 {
	display: inline-block;
	color: white;
	font-family: "Abel", sans-serif;
	font-size: 40px;
	border-bottom: 2px solid #fbc005;
	padding: 0px 40px 15px;
	margin-top: 50px;
	
}
.contentDiv {
	display: inline-block;
	background-color: white;
	margin-right: 100px;
	margin-left: 100px;
	margin-bottom: 50px;
	border-radius: 2px; 
}
.contentDiv > p {
	padding: 25px 25px 25px 25px;
}
.contentDiv > ul > li {
	margin-left: 75px;
}
.outreachPics {
	height: 500px;
	margin-top: 50px;
}
#a {
	text-decoration: none;
	color: #0A46A8;
}
.list {
	padding: 0px 25px 0px 115px;
}
.spanOne {
	text-decoration: underline;
}