.a {
	text-decoration: none;
	color: black;
	margin-top: 10px;
	font-family: "Montserrat", sans-serif;
}
.mainDiv {
	margin-bottom: none;
	background-color: none;
	text-align: center;
	font-family: "Montserrat", sans-serif;
}
.mainh2 {
	font-family: "Abel", sans-serif;
	color: white;
	font-size: 40px;
	letter-spacing: 4.5px;
	border-bottom: 2px solid #fbc005;
	
	padding: 15px;
	
	text-align: center;
}
.secondaryh2 {
	border-bottom: 2px solid black;
	
	padding-bottom: 7px;
	padding-top: 15px;
	
	margin-top: 15px;
	margin-right: 325px;
	margin-left: 325px;
	font-size: 30px;
	font-family: "Abel", sans-serif;
}
.boardImg {
	display: flex;
	margin-right: 183px;
	height: 500px;
	margin-left: 50px;
	
}
.p {
	padding-left: 25px;
	padding-right: 25px;
	font-family: "Montserrat", sans-serif;
	margin-bottom: 0px;
}
.Firsth3 {
	font-size: 30px;
	font-family: "Abel", sans-serif;
	margin-top: 0px;
	display: flex;
	margin-right: 0px;
}
.teamresources {
	margin-right: 100px;
	
	margin-bottom: 50px;
	background-color: white;
	text-align: center;
	font-family: "Montserrat", sans-serif;
}
.download1  {
	float: right;
	text-align: center;
}
.flex {
	display: flex;
	height: 500px;
	width: 1062px; 
}
.boardpic {
	padding-left: 50px;
	
}
.clickHere {
	background-color: white;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 50px;
	width: 1063px;
	height: 101px; 
}
.boardText {
	margin-left: 237px;
}
.boardText1 {
	padding-left: 91px;
}
#marginLeft {
	margin-left: 128px;
    margin-right: 0px;
}
.boardText1 {
	padding-left: 136px;
}
.footer {
	margin-bottom: 0;
}
.calender {
	background-color: none;
	padding-bottom: 50px;
    width: 1049px;
	height: 811px; 

	
}
.calenderDiv {
	margin: 50px 25px 0px 25px;
	background-color: white;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	border-radius: 2px;
	margin-left: 100px;
	padding-top: 10px; 
	width: 1063px;
	height: 811px; 
}

.boards {
	background-color: white; 
	margin-left: 100px;
	margin-right: 100px;
	border-radius: 2px;
	width: 1063px;
	height: 1030px;
}
.calendarHeader{
	font-family: "Abel", sans-serif;
	padding-top: 15.5px;
	font-size: 30px;
	border-bottom: 2px solid black;
	margin-right: 375px;
	margin-left: 375px;
}
.github {
	background-color: white;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-bottom: 55px;
	border-radius: 2px;
    width:  1063px;
    height:  320px;
}
.textDiv {
	border-bottom: 2px solid black; 
	margin-right: 250px; 
	margin-left: 250px; 
}
.techResources {
	color: black; 
	font-spacing: 2px; 
	padding-top: 25px; 
	color: black;
	text-align: center;
	font-family: "Abel", sans-serif;
	letter-spacing: 4.5px;
	font-size: 30px;
	margin-left: 250px;
	margin-right: 250px; 
	border-bottom: 2px solid black;
}

.login {
	text-align: center;
}
.username {
	height: 25px;
	margin-top: 10px;
}
.password {
	height: 25px;
	margin-top: 10px;
}
.submit {
	text-decoration:none;
	padding: 5px;
	height: 40px;
	width: 70px;
	font-size: 16px;
	margin-top: 20px;
}

.expBoard {
	margin: 50px 285px;
	width: 693px;
}
.calendar {
	margin: 50px 350px;
	width: 563px;
}
.teamR {
	margin: 50px 420px;
	width: 423px;
}
.subTitle1 {
	color: black;
	text-align: center;
	font-family: "Abel", sans-serif;
	letter-spacing: 4.5px;
	font-size: 30px;
	border-bottom: 2px solid black;
	width: 140px;
	padding-top: 20px;
}