.subsubTitle {
	margin-top: 50px;
	text-align: center;
	color: white;
	font-family: "Abel", sans-serif;
	letter-spacing: 4.5px;
	font-size: 26px;
}
.sponsors {
	margin-left: 100px;
	margin-right: 100px;
	background-color: white;
	margin-bottom: 50px;
}
.sponsorLevel {
	border-top: 2px solid #fbc005;
}
.topLevel {
	border-top: none;
	padding-top: 5px;
}
.sponsors1 {
	display: flex;
	flex-flow: row wrap;
	
	align-items: center;
}

.sponsors1 > * {
	margin: 25px;
}
.introSponsors {
	border-top: 2px solid #fbs005;	
}

.sponsorImage {
	margin-left: 15px;
	text-align: center;
}
.sponsorText {
	font-size: 45px;

}
.sponsor1 {
	background: none;
	color: white;
}
.textDescription1 {
	color: white;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 15px;
	letter-spacing: 0px;
	padding-bottom: 15px;
}
.titleText1 {
	color: white;
	text-align: center;
	font-family: "Abel", sans-serif;
	letter-spacing: 4.5px;
	font-size: 40px;
    padding-top: 29px;
    padding-bottom: 10px;
    margin-left: 450px;
    margin-right: 450px;
	border-bottom-style: solid;
	border-bottom-color: #fbc005;
}
.boeing {
	width: 415px;
	margin-left: 15px;
	text-align: center;

}
.delphi {
	width: 280px;
	margin-left: 15px;
	text-align: center;
}
.redali {
	width: 280px;
	margin-left: 15px;
	text-align: center;
}
.sponsorText1 {
	font-size: 24px;
}
.kiwanis {
	width: 200px;
	margin-left: 15px;
	text-align: center;
}
.alison {
	width: 235px;
	margin-left: 15px;
	text-align: center;
}
.delta {
	width: 235px;
	margin-left: 15px;
	text-align: center;
}
.edusource {
	width: 220px;
	margin-left: 15px;
	text-align: center;
}
.sponsorText2 {
	font-size: 19px;
}
.pip {
	width: 180px;
	margin-left: 15px;
	text-align: center; 
}
.mcalisters {
	width: 180px;
	margin-left: 15px;
	text-align: center; 
}
<<<<<<< HEAD
.bronze {
	width: 180px;
	margin-left: 15px;
	text-align: center; 
=======

.multiParagraphBold {
	color: black;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 15px;
	letter-spacing: 0px;
	font-style: bold;
}

.multiParagraphCenter {
	color: black;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 15px;
	letter-spacing: 0px;
}

.multiParagraphCenterTop {
	color: black;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 15px;
	letter-spacing: 0px;
	padding-top: 17px;
}

.Sponsor {
	background-color: white;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 50px;
	margin-bottom: 50px;
	border-style: 2px solid #FBC005;
	padding-bottom: 10px;
}

.sponsorPic {
	max-width: 100%;
}

.subBar {
	color: white;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
}
.subNav {	
	margin: 0px 15px 15px 15px;
	font-family: "Montserrat", sans-serif;
	text-decoration: none;
	color: white;
	
	border-bottom: none;
>>>>>>> aae019fabf2bd48c4544923620b071ddd66c19ef
}