.headerText {
	color: white;
	font-family: "Abel", sans-serif;
	letter-spacing: 4.5px;
	font-size: 40px;
	text-align: center;
	margin-top: 50px;
	text-align: center;
	letter-spacing: 4.5px;
	border-bottom-style: solid;
	border-bottom-color: #fbc005;
    margin-left: 400px;
    margin-right: 400px;
	margin-bottom: 15px
}
.login {
	background-color: white;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 50px;
	margin-bottom: 50px;
	border-style: 2px solid #FBC005;
	padding-bottom: 50px;
	padding-top: 25px;
}
.loginText {
	color: black;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 15px;
	letter-spacing: 0px;
}
.footer1 {
	text-align: center;
	background-color: #FFF;
	padding: 14px 15px 10px;
	height:80px;
	margin-top: 258px;
	
}
.footer1 a { 
	text-decoration: none;
	display: inline;
	float: right;
}
.footer1::after {
	content: "";
	clear: both;
}
.inputU {
	margin-left: 25px;
	password: techhound;
}
.inputP {
	margin-left: 25px;
	password: techhound;
}
.form {
	margin-left: 25px;
}
.blah {
	margin-left: 25px;
}
.stuff {
	text-decoration: none;
}